{% extends 'discount/base.html' %}
{% load static %}
{% block content %}
<div class="breadcrumb">
				<div>
					<a href="{% url 'discount:index' %}">Главная страница</a><span>/</span>Услуги и цены
				</div>
			</div>
                <h3>Парикмахерский зал</h3>
                  <table class="table table-bordered table-striped ">
                  <thead>
<!--                      <tr>-->
<!--                        <th>Название</th>-->
<!--                        <th>Цена</th>-->
<!--                        <th>Описание</th>-->
<!--                      </tr>-->
                  </thead>
                  <tbody>

                        {% for services in sevices1 %}
<!--                      <tr>-->
<!--                         <td>{{ services.title}}</td>-->
<!--                         <td class="muted">{{ services.price}}</td>-->
<!--                         <td>{{ services.description}}</td>-->
<!--                      </tr>-->

                        {{ services.description|safe}}

                        {% endfor %}
                  </tbody>
                  </table>

            <h3>Маникюр/педикюр</h3>
                  <table class="table table-bordered table-striped ">
                  <thead>
<!--                      <tr>-->
<!--                        <th>Название</th>-->
<!--                        <th>Цена</th>-->
<!--                        <th>Описание</th>-->
<!--                      </tr>-->
                  </thead>
                  <tbody>

                        {% for services in sevices2 %}
<!--                      <tr>-->
<!--                         <td>{{ services.title}}</td>-->
<!--                         <td class="muted">{{ services.price}}</td>-->
<!--                         <td>{{ services.description}}</td>-->
<!--                      </tr>-->
                        {{ services.description|safe}}
                        {% endfor %}
                  </tbody>
                  </table>

            <h3>Брови/ресницы</h3>
                  <table class="table table-bordered table-striped ">
                  <thead>
<!--                      <tr>-->
<!--                        <th>Название</th>-->
<!--                        <th>Цена</th>-->
<!--                        <th>Описание</th>-->
<!--                      </tr>-->
                  </thead>
                  <tbody>

                        {% for services in sevices3 %}
<!--                      <tr>-->
<!--                         <td>{{ services.title}}</td>-->
<!--                         <td class="muted">{{ services.price}}</td>-->
<!--                         <td>{{ services.description}}</td>-->
<!--                      </tr>-->
                        {{ services.description|safe}}
                        {% endfor %}
                  </tbody>
                  </table>
{% endblock %}